body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

div.toggleElement {
  max-height: 0;
  transition: max-height .3s ease;
}