.selectWrapper {
  position: relative;
}


.dropdownWrapper {
  position: absolute;
  width: 150px;
  max-height: 90px;
  overflow: hidden;
  transition: max-height .3s ease;
}



.titleWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .initialIcon {
    display: block;
    transform: rotateX(0deg);
    transition: transform .3s ease;
  }

  .icon {
    transform: rotateX(180deg);
    transition: transform .3s ease;
  }
}



