@import "./src/styles/colorsVariables";

.header {
  width: 100%;
  background-color: $mine-shaft;
ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
}

  li {
    color: $color-white;
    padding: 10px;
  }
}