@import '../../styles/_colorsVariables.scss';

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: $color-snow;

  a, button {
    color: $color-darkgray;
    text-decoration: none;

    &:hover {
      color: $color-white;
      background-color: $color-lightsteelblue;
    }
  }

  button {
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 16px;
  }

  .classActive {
    color: white;
    background-color: #a5c6c9;
  }
}


